/*
 * Rules for FAQ page
 */
#faq {
	.panel {
		border: none;
		box-shadow: none;
	}

	.panel-body {
		border: none;/*
		padding-left: 0;
		padding-right: 0;*/
	}

	.panel-heading {
		background-color: $main-color;
		border-radius: 0;

		.fa {
			margin-right: 8px;
			&:before { content: $fa-var-caret-up; }
		}

		.collapsed {
			.fa {
				@include fa-icon-rotate(180deg, 2);
				&:before { top: -4px; position: relative; }
			}
		}
	}

	.panel-title {
		font-size: 20px;
		margin-bottom: 0;
		@include text-truncate;

		a {
			color: $smooth-white;
		}
	}
}