<?xml version="1.0" encoding="UTF-8" ?>
<!-- /*
 * MAGIX CMS Copyright (c) 2008 - 2021 Gerits Aurelien,
 * http://www.magix-dev
 * Dual licensed under the MIT AND GPL Version 3 licenses.
 */-->
<config>
	<authorized>
		<allow_access>*</allow_access>
	</authorized>
	<data>
		<authors>
			<author>
				<name>Salvatore Di Salvo</name>
				<website href="https://github.com/Xarksass" />
			</author>
		</authors>
		<release>
			<date_create>16/12/2015</date_create>
			<date_update>25/11/2021</date_update>
			<version>3.0.0</version>
			<phase>Stable</phase>
		</release>
		<support>
			<ticket href="https://github.com/magix-cms/faq/issues"></ticket>
			<git href="https://github.com/magix-cms/faq"></git>
		</support>
	</data>
</config>